.card__avatar-text {
  content: " ";
  display: block;
  width: 60px;
  font-size: 12px;
  color: #fff;
  text-shadow: 
    1px 0px 0px #000,
    -1px 0px 0px #000,
    0px 1px 0px #000,
    0px -1px 0px #000,
    1px 1px 0px #000,
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000;
  position: absolute;
  top: 68px;
  left: 15px;
  text-align: center;
  user-select: none;
}

.card__avatar-text:hover {
  cursor: pointer;
}
